{% extends 'members/base.html' %}

{% block title %}
  Tennis Club - List of members
{% endblock %}

{% block content %}
  <style>
    .members-header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-radius: 5px;
    }
    .members-header a {
      color: white;
    }
  </style>
  <div class="mycard">
    <h1 class="members-header"><span>Members</span><a href="/tables"> &gt;&gt; </a></h1>

    <ul>
      {% for member in members %}
      <li onclick="window.location = 'details/{{ member.id }}'">{{ member.firstname }} {{ member.lastname }}</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
