{% extends 'members/base.html' %}
{% load static %}

{% block content %}

<h1>Tennis Club Members</h1>

<table border="1">
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Phone</th>
        <th>Join Date</th>
    </tr>

    {% for member in members %}
    <tr>
        <td>{{ member.id }}</td>
        <td>{{ member.firstname }}</td>
        <td>{{ member.lastname }}</td>
        <td>{{ member.phone }}</td>
        <td>{{ member.join_date }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock  %}