# python
__pycache__
*.pyc
*.pyo
*.egg-info
*.egg
*.whl
*.log

# virtualenv
.venv

# Environment variables
.env

# django
media

# editor
.vscode 
.idea

# static files
staticfiles/

# database
db.sqlite3
