# python
__pycache__
*.pyc
*.pyo
*.egg-info
*.egg
*.whl
*.log

# virtualenv
.venv

# Environment variables
.env

# django
media

# editor
.vscode 
.idea

# Ignore everything in staticfiles
tennis_club/staticfiles/*

# Allow members folder and its files
!tennis_club/staticfiles/members/
!tennis_club/staticfiles/members/**

# Allow global.css
!tennis_club/staticfiles/global.css

# Ignore admin folder explicitly
tennis_club/staticfiles/admin/

# database
db.sqlite3
