# python
__pycache__
*.pyc
*.pyo
*.egg-info
*.egg
*.whl
*.log

# virtualenv
.venv

# Environment variables
.env

# django
media

# editor
.vscode 
.idea

# Staticfiles
staticfiles/*
!staticfiles/members/
!staticfiles/members/**
!staticfiles/global.css
staticfiles/admin/

# database
db.sqlite3
